.header .title {
  text-align: center;
  margin-top: 20%; }
  .header .title h2 {
    font-size: 5em;
    font-weight: 900;
    font-family: "Monostate", sans-serif; }
  .header .title small {
    letter-spacing: 0.2em; }
.header .ability {
  margin-top: 5%;
  margin-left: 15%; }
  @media screen and (max-width: 1600px) {
    .header .ability {
      margin-top: 10%;
      margin-left: 20%; } }
  @media screen and (max-width: 1920px) {
    .header .ability {
      margin-top: 10%;
      margin-left: 20%; } }
  .header .ability div {
    float: left; }
  .header .ability div + div {
    padding-left: 5%; }
  .header .ability h6 {
    font-weight: 900;
    font-size: .9em;
    font-family: "Consolas", "Menlo", "Courier", monospace; }

/*Styles of about section*/
.about {
  margin-top: 20%;
  display: inline-block; }
  .about .bio {
    margin-left: 4%;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    line-height: 1.5em;
    font-size: 1.1em;
    font-weight: 700;
    margin-right: 50%; }
    @media screen and (max-width: 360px) {
      .about .bio {
        margin-left: 0px;
        font-family: "Consolas", "Menlo", "Courier", monospace;
        line-height: 1.5em;
        font-size: 1.1em;
        font-weight: 700;
        margin-right: 0px; } }
  .about .avatar {
    margin-top: -30%;
    margin-left: 70%; }
    @media screen and (max-width: 360px) {
      .about .avatar {
        margin-top: 0%;
        margin-left: 20%; } }
    @media screen and (min-width: 1600px) {
      .about .avatar {
        margin-top: -25%;
        margin-left: 70%; } }
    @media screen and (min-width: 1920px) {
      .about .avatar {
        margin-top: -20%;
        margin-left: 70%; } }
    .about .avatar img {
      width: 200px;
      height: auto; }
    .about .avatar small {
      display: block;
      font-weight: 700;
      font-size: .7em;
      text-align: left; }
    .about .avatar h4 {
      font-size: 1.3em;
      font-family: 'Sigmar One', sans-serif;
      font-weight: 800; }
  .about .social-icons {
    margin-left: 68%;
    margin-top: 3%; }
    @media screen and (max-width: 360px) {
      .about .social-icons {
        margin-left: 10%;
        margin-top: 3%; } }
    .about .social-icons nav ul {
      display: inline; }
      .about .social-icons nav ul li {
        list-style: none;
        float: left;
        padding-left: 15px; }
        .about .social-icons nav ul li a {
          color: #282828 !important; }
          .about .social-icons nav ul li a:hover {
            color: #777777 !important; }
          .about .social-icons nav ul li a:active {
            color: #777777 !important; }

.works-buttons {
  margin-left: 30%;
  margin-top: 15%;
  font-family: "Consolas", "Menlo", "Courier", monospace !important; }
  @media screen and (max-width: 360px) {
    .works-buttons {
      margin-left: 0%;
      margin-top: 15%; }
      .works-buttons a {
        display: block; } }

.works {
  margin-left: 5%;
  margin-bottom: 10%; }

.img-small {
  margin-bottom: 3%;
  width: 200px;
  height: auto; }
  @media screen and (max-width: 360px) {
    .img-small {
      margin-left: 20%;
      width: 200px;
      height: auto; } }

/*Works styles*/
#container-works .mix {
  display: none; }

/*Footer styles*/
.footer {
  font-family: consolas, monospace;
  text-align: center;
  font-weight: 900; }
  .footer a {
    color: #282828 !important; }

/*# sourceMappingURL=custom.css.map */
