.header{



  .title {
    text-align: center;
    margin-top: 20%;


      h2 {
          font-size: 5em;
          font-weight: 900;
          font-family: "Monostate", sans-serif;
      }
      small{
        letter-spacing: 0.2em;
      }
    }

  //  Start of the ability
  .ability{
    margin-top: 5%;
    margin-left: 15%;
    @media screen and (max-width: 1600px){
      margin-top: 10%;
      margin-left: 20%;
    }
    @media screen and (max-width: 1920px){
      margin-top: 10%;
      margin-left: 20%;
    }
    div{
      float: left;

    }
    div+div{
      padding-left: 5%;
    }
    h6{
      font-weight: 900;
      font-size: .9em;
      font-family: "Consolas", "Menlo", "Courier", monospace;
    }
  }


}
